.course-container{
    background-color: rgb(240, 238, 238);
    padding: 40px 0;
}
.online-container{
    margin-bottom: 15px;
}
.online-course-detail{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 40px 0;
    background-color: white;
    box-shadow: 2px 2px 4px 3px rgba(148, 144, 144, 0.2);
    /* margin: 10px; */
}
.online-course-detail h4{
    color: #e2874d;
}
.online-course-detail span{
    color: #e2874d;
}
.offline-course-detail{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 40px 0;
    box-shadow: 2px 2px 4px 3px rgba(148, 144, 144, 0.2);
    background-color: white;

}
.online-course-description{
    text-align: start;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 10px 0 10px 30px;
    box-shadow: 2px 2px 4px 3px rgba(148, 144, 144, 0.2);
    background-color: white;

}
.offline-course-description{
    text-align: start;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 10px 0 10px 30px;
    box-shadow: 2px 2px 4px 3px rgba(148, 144, 144, 0.2);
    background-color: white;

}
.offline-course-detail h4{
    color: #e2874d;
}
.offline-course-detail span{
    color: #e2874d;
}
.recepie-category{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.meal-container{
    padding: 20px 0;
}
.meal-heading{
    padding-bottom: 15px;
}