.footer-container{
    background-color: #07574c;
    padding: 50px 0;
    text-align: center;
    color: white;
}
.footer-content span{
    color: #f28054;
}
.footer-copy-right small{
    color: lightgray;
}