.banner-container{
    background-color: #07574c;
    padding: 20px 0;
    margin-bottom: 10px;
    color: white;
}
/* border-radius: 60px 5px 60px 5px; */
.banner-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.banner-content h1{
    text-align: start;
}
.banner-content p{
    text-align: start;
}
